.jumbotron {
    border-radius: 0 !important;
}

.card {
  width: auto;
  margin: 5% auto;
}

.container #demo {
  margin-bottom: 20%;
}

.nav-item a {
  color: white;
}

.text-center {
	margin: 5% 0;
}


.container .col {
	justify-content: center;
}